In [1]:
#import dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlite3

In [2]:
# WORA ages
wora_ages_csv = "WORA_ages_unpivoted.csv"
ages_df = pd.read_csv(wora_ages_csv)
ages_df.head()

   Unnamed: 0    state    Age Group  Portion of WORA
0           0  Alabama  15-17 Years              8.0
1         102  Alabama  20-24 Years             14.0
2         153  Alabama  25-29 Years             15.0
3         204  Alabama  30-39 Years             29.0
4         255  Alabama  40-49 Years             28.0

In [18]:
clean_ages = ages_df[['state', 'Age Group', 'Portion of WORA']]

     state    Age Group  Portion of WORA
0  Alabama  15-17 Years              8.0
1  Alabama  20-24 Years             14.0
2  Alabama  25-29 Years             15.0
3  Alabama  30-39 Years             29.0
4  Alabama  40-49 Years             28.0

In [3]:
# WORA Ethnicities
wora_ethn_csv = "WORA_ethnicity_unpivoted.csv"
ethn_df = pd.read_csv(wora_ethn_csv)
ethn_df.head()

   Unnamed: 0    state Race/Ethnicity  Portion of WORA
0           0  Alabama       Hispanic              5.0
1         102  Alabama          Black             29.0
2         153  Alabama          Asian              2.0
3         204  Alabama          Other              5.0
4          51  Alabama          White             60.0

In [19]:
clean_ethn = ethn_df[['state', 'Race/Ethnicity', 'Portion of WORA']]
clean_ethn.head()

     state Race/Ethnicity  Portion of WORA
0  Alabama       Hispanic              5.0
1  Alabama          Black             29.0
2  Alabama          Asian              2.0
3  Alabama          Other              5.0
4  Alabama          White             60.0

In [4]:
ab_policy_csv = "AbortionPolicy_State_Category.csv"
ab_policy = pd.read_csv(ab_policy_csv)
ab_policy.head()

  State             Policy  Policy_Num
0     AL  Most Restrictive           1
1     AR  Most Restrictive           1
2     KY  Most Restrictive           1
3     MO  Most Restrictive           1
4     OK  Most Restrictive           1

In [6]:
avg_distance_csv = "Avg_Drive_Distance.csv"
avg_distance = pd.read_csv(avg_distance_csv)
avg_distance.head()

   Unnamed: 0    state week_threshold  avg_oneway_miles
0           0  Alabama         week_6               NaN
1         306  Alabama   week_24_plus             507.0
2          51  Alabama        week_12             115.0
3         204  Alabama        week_22             179.0
4         153  Alabama        week_20             137.0

In [22]:
clean_avg_distance = avg_distance[['state', 'week_threshold', 'avg_oneway_miles']]
clean_avg_distance.rename(columns = {'week_threshold': 'Week threshold', 'avg_oneway_miles': 'avg miles to clinic'}, inplace = True)
clean_avg_distance.head()

/Users/madelynbaker/Downloads/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     state Week threshold  avg miles to clinic
0  Alabama         week_6                  NaN
1  Alabama   week_24_plus                507.0
2  Alabama        week_12                115.0
3  Alabama        week_22                179.0
4  Alabama        week_20                137.0

In [10]:
gutt_scrape_csv = "Guttmacher_Webscrape.csv"
gutt_scrape = pd.read_csv(gutt_scrape_csv, encoding='unicode_escape')
gutt_scrape.head()

,Index,State,State URL Slug,Restrictive Category,Current Policies,Abortions Obtained in 2020,"Abortions per 1,000 WORA in 2020",Appx. Number of WORA,Abortion Clinics,Counties without Abortion Providers,...,% WORA: 25-29 Years,% WORA: 30-39 Years,% WORA: 40-49 Years,Avg. Distance (mi): 6 Weeks,Avg. Distance (mi): 12 Weeks,Avg. Distance (mi): 14 Weeks,Avg. Distance (mi): 20 Weeks,Avg. Distance (mi): 22 Weeks,Avg. Distance (mi): 24 Weeks,Avg. Distance (mi): 24+ Weeks
0,0,Alabama,alabama,Most Restrictive,Abortion is completely banned with very limite...,5700,6.0,1100000,5,93,...,15,29,28,NaN,115.0,118.0,137.0,179.0,474.0,507.0
1,1,Alaska,alaska,Protective,Only physicians can provide abortions and not ...,1240,8.6,161000,4,86,...,18,33,26,NaN,9.0,11.0,NaN,NaN,NaN,NaN
2,2,Arizona,arizona,Restrictive,Pre-Roe abortion ban is still in place and can...,13320,9.3,1600000,8,80,...,15,28,27,NaN,NaN,NaN,11.0,NaN,22.0,25.0
3,3,Arkansas,arkansas,Most Restrictive,Abortion is completely banned with very limite...,3250,5.6,674000,3,97,...,15,29,28,NaN,NaN,NaN,160.0,328.0,NaN,360.0
4,4,California,california,Protective,"Abortion is banned at fetal viability, general...",154060,19.2,9200000,161,40,...,16,30,27,NaN,4.0,8.0,9.0,12.0,NaN,14.0

In [11]:
gutt_data_csv = 'GuttmacherDataCenter.csv'
gutt_data = pd.read_csv(gutt_data_csv)
gutt_data.head()

,U.S. State,"% change in abortion rate (the no. of abortions per 1,000 women aged 15-44), by state of occurrence, 2014-2017","% change in the no. of abortion clinics, 2014-2017 [2]","% change in the no. of abortion providers, 2014-2017 [2]","% change in women who likely need public support for contraceptive services and supplies, 2016","% of all U.S. abortions, by state of occurrence, 2017","% of women aged 15-44 covered by Medicaid, 2017","% of women aged 15-44 covered by private insurance, 2017","% of women aged 15-44 who are uninsured, 2017","% uninsured, women aged 20-44 and <138% of the federal poverty level who likely need public support for contraceptive services and supplies, 2016",...,"No. of women who likely need public support for contraceptive services and supplies, non-Hispanic white, aged 20-44 and below 250% of the federal poverty level, 2016","No. of women who likely need public support for contraceptive services and supplies, non-Hispanic white, younger than 20, 2016","No. of women who likely need public support for contraceptive services and supplies, younger than 20, 2016","No. uninsured, women aged 20-44 and <138% of the federal poverty level who likely need public support for contraceptive services and supplies, 2016","No. uninsured, women aged 20-44 and between 138% and 250% of the federal poverty level who likely need public support for contraceptive services and supplies, 2016","No. uninsured, women who likely need public support for contraceptive services and supplies, 2016","No. uninsured, women younger than 20 who likely need public support for contraceptive services and supplies, 2016","Population of women aged 13-44, 2016","Total no. of pregnancies among women aged 15-44, 2017","Total no. of women aged 15-44, 2017"
0,Alabama,-23,0,-22,10,0.7,18,63,14,28,...,"140,350","44,510","74,210","63,650","31,910","105,600","10,050","1,014,030","79,150","949,949"
1,Alaska,-14,33,-25,6,0.1,24,49,15,31,...,"14,610","5,370","9,430","7,400","7,680","16,940","1,870","155,560","14,090","146,072"
2,Arizona,-6,-11,-8,8,1.4,24,60,13,21,...,"136,430","44,590","98,270","61,450","39,850","127,440","26,140","1,418,140","112,840","1,345,764"
3,Arkansas,-30,0,0,13,0.4,28,58,11,20,...,"108,960","31,230","46,710","28,600","17,880","55,400","8,930","614,890","49,110","577,447"
4,California,-16,6,-18,2,15.4,27,62,9,18,...,"468,270","161,870","527,440","282,950","197,880","551,740","70,910","8,557,280","710,510","8,104,632"

In [20]:
all_wora = pd.merge(clean_ages, clean_ethn, how='inner', on=["state"])
all_wora.head()

     state    Age Group  Portion of WORA_x Race/Ethnicity  Portion of WORA_y
0  Alabama  15-17 Years                8.0       Hispanic                5.0
1  Alabama  15-17 Years                8.0          Black               29.0
2  Alabama  15-17 Years                8.0          Asian                2.0
3  Alabama  15-17 Years                8.0          Other                5.0
4  Alabama  15-17 Years                8.0          White               60.0